@model Bangazon.Models.OrderViewModels.ShoppingCart

@{
    ViewData["Title"] = "Shopping Cart";
}
<h2>My Shopping Cart</h2>
<h3>Order @Model.Order.OrderID</h3>
<hr />
<h4>Products</h4>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>

    @foreach (var product in Model.Products)
    {
        <tr>
            <td>
                <a asp-controller="Products" asp-action="Details" asp-route-id="@product.ProductID">
                    @Html.DisplayFor(modelItem => product.Name)
                </a>
            </td>
            <td>@Html.DisplayFor(modelItem => product.Description)</td>
            <td>@Html.DisplayFor(modelItem => product.Quantity)</td>
            <td>@Html.DisplayFor(modelItem => product.Price) </td>
           <td> <a asp-controller="Orders" asp-action="EditCart" asp-route-orderID="@Model.Order.OrderID" asp-route-ProductID="@product.ProductID">Remove Item</a></td>
        </tr>
    }
    <tr>
        <td>Total Items: @Model.ProductsCount</td>
        <td></td>
        <td>Order Total:</td>
        <td>@String.Format("{0:C}", @Model.Products.Sum(p => p.Price))</td>
    </tr>

</table>
<div>
    <a class="btn btn-success" asp-action="CompleteOrder" asp-route-id="@Model.Order.OrderID">Complete Order</a>
    <a asp-action="Delete" asp-route-id="@Model.Order.OrderID">Cancel Order</a>
</div>
