@model Bangazon.Models.ProductViewModels.ProductDetailViewModel

@{
    ViewData["Title"] = "Product Details";
}

<h2>@Html.DisplayFor(model => model.Product.Name)</h2>
<h4>Posted by @Html.DisplayFor(model => model.Product.User.FirstName) @Html.DisplayFor(model => model.Product.User.LastName)</h4>

<div class="row">
    <div class="col-md-2">Name</div>
    <div class="col-md-2">Description</div>
    <div class="col-md-2">Price</div>
    <div class="col-md-2">Quantity</div>
    <div class="col-md-2">Date Created</div>
</div>
<div class="row">
    <div class="col-md-2">@Html.DisplayFor(model => model.Product.Name)</div>
    <div class="col-md-2">@Html.DisplayFor(model => model.Product.Description)</div>
    <div class="col-md-2">@Html.DisplayFor(model => model.Product.Price)</div>
    <div class="col-md-2">@Html.DisplayFor(model => model.Product.Quantity)</div>
    <div class="col-md-2">@Html.DisplayFor(model => model.Product.DateCreated)</div>
    <div class="col-md-2"><button><a asp-action="Purchase" asp-route-id="@Model.Product.ProductID">Add to Order</a></button></div>
</div>
&nbsp;&nbsp;
<div>
    &lt;&lt; <a asp-action="Index">Back to List</a>
</div>