@model Bangazon.Models.ProductViewModels.ProductDetailViewModel

@{
    ViewData["Title"] = "Product Details";
}

<h2>@Html.DisplayFor(model => model.Product.Name)</h2>
<h4>Posted by @Html.DisplayFor(model => model.Product.User.FirstName) @Html.DisplayFor(model => model.Product.User.LastName)</h4>
@if (Model.Product.ImgPath != null)
{
    <img src="@Model.Product.ImgPath" class="img-thumbnail" style="width=100px" />
}
<div class="row">
    <div class="col-md-2"><h4>Title</h4></div>
    <div class="col-md-2"><h4>Description</h4></div>
    <div class="col-md-2"><h4>Price</h4></div>
    <div class="col-md-2"><h4>Quantity</h4></div>
    <div class="col-md-2"><h4>Posted</h4></div>
</div>
<div class="row">
    <div class="col-md-2">@Html.DisplayFor(model => model.Product.Name)</div>
    <div class="col-md-2">@Html.DisplayFor(model => model.Product.Description)</div>
    <div class="col-md-2">@Html.DisplayFor(model => model.Product.Price)</div>
    <div class="col-md-2">@Html.DisplayFor(model => model.Product.Quantity)</div>
    <div class="col-md-2">@Html.DisplayFor(model => model.Product.DateCreated)</div>
    @if (Context.User.Identity.Name != Model.Product.User.UserName)
    {

        <div class="col-md-2"><a class="btn btn-success" asp-controller="Orders" asp-action="Purchase" asp-route-id="@Model.Product.ProductID">Add to Order</a></div>

    }
</div>
&nbsp;&nbsp;
<div>
    &lt;&lt; <a asp-action="Index">Back to List</a>
</div>