@model Bangazon.Models.ProductViewModels.ProductSearchViewModel

@{
    ViewData["Title"] = "Search Results";
}

<h2>Search Results</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Location
            </th>
            <th>
                Picture
            </th>
            <th>
               Category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImgPath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductType.Label)
                </td>
            </tr>
        }
    </tbody>
</table>

