@model Bangazon.Models.HomeViewModels.HomePageViewModel

@{
    ViewData["Title"] = "Bangazon";
}

<h1> Welcome To Bangazon!</h1>

<h2>Recently Added Products</h2>
<div class="row">

    @foreach (var item in Model.Product)
    {
    <div class="col-md-4">
        <div class="thumbnail">
                <img src="@Html.DisplayFor(modelItem => item.ImgPath)" style="height:270px">
                <div class="caption">
                    <h3><a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductID"> @Html.DisplayFor(modelItem => item.Name)</a></h3>
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                    <h4>@Html.DisplayFor(modelItem => item.Price)</h4>
                </div>
        </div>
    </div>
    }
</div>
