@model Bangazon.Models.ProductViewModels.CategoryIndexViewModel

@{
    ViewData["Title"] = "Categories";
}

<h2>Categories</h2>

@foreach (var item in Model.productTypeCounts)
{
    <div class="row">
        <div class="col-md-12 productTypeHeader">
            <a asp-controller="ProductTypes" asp-action="Details" asp-route-id="@item.ProductTypeID">
                @Html.DisplayFor(modelItem => item.TypeName) (@Html.DisplayFor(modelItem => item.ProductCount))
            </a>
        </div>
    </div>
    @foreach (var product in item.Products)
    {
        <div class="row">
            <div class="col-md-9 col-md-offset-1">
                @product.Name
            </div>
            <div class="row">
                <div class="col-md-2">
                    @product.Price.ToString("C")
                </div>
            </div>
        </div>
    }
}
